<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--注册servlet-->
  <servlet>
    <servlet-name>helloservlet</servlet-name>
    <servlet-class>com.mezzp.servlet.HelloServlet</servlet-class>
  </servlet>
  <!--映射：一个Servlet对应一个Mapping-->
  <servlet-mapping>
    <servlet-name>helloservlet</servlet-name>
    <!--请求路径-->
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
</web-app>
